<app-logout></app-logout>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <div class="container">
    
    <nav class="navbar navbar-expand-sm btn-light navbar-dark">
     
      <ul class="nav nav-pills ">
      <li class="nav-item ">
        <a class="nav-link" class="btn btn-outline-info  btn-sm  mr-3" routerLink="/addmoney">Add Money</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="btn btn-outline-info  btn-sm mr-3"  routerLink="/accountbalance">View Account Balance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="btn btn-outline-info  btn-sm mr-3"  routerLink="/transfermoney">Transfer Money</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" class="btn btn-outline-info  btn-sm mr-3"  (click)=details()>Transaction Details</a>
      </li>
    </ul>
    </nav>
    </div>
   